@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Shippori Mincho', serif;
}

nav {
    padding: 1rem; 
}
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
nav ul {  
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

nav li, li a {
    font-size: 1.2rem;
    display: inline;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo{
    width: 8rem;
    height: 8rem;
}

.fa-cart-shopping {
    font-size: xx-large;
    color: #999999;
}



