@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Cormorant SC', serif;
}

nav {
    padding: 1rem 6rem;
    display: flex; 
    background-color: #e6c7c2;
}
.logo{
    width: 5rem;
    height: 5rem;
}

ul { 
    margin: auto;
    text-align:right;
    width: 100%;
}

.nav-ul li {
    display:inline;
    font-size: larger;
}

ul a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

ul a:hover {
    text-decoration: underline;
    color: white;
}
 b
.fa-cart-shopping {
    font-size: xx-large;
    color: #999999;
}

.home-img {    
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 70vh;
    background-image:url("images/second_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 40%;
    right: 8rem;
    color: black;
    background: transparent;
    background-color: white;
    border-radius: 10px;
    opacity: 65%;
    padding:30px;
    text-align: center;
}

h4 {
    font-size: 2.5rem;
}

p {
    line-height: 1rem;
}

.order {
    border-radius: 25px;
    text-align: center;
    padding: .75rem;
    background-color:gray; 
    border: none;
    color: white;
}

.popular-items {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f1f2f3;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}
.cards, .items {    
    display: flex;
    justify-content: space-around;
    padding: auto;
    flex-wrap: wrap;
}

.card {
   border: none;
}

.card-body {
    font-size: larger;
    text-align: center;
    background-color: #f1f2f3;
}

.menu {
    padding: 1rem;
}

.items .card {
    margin: 2rem;
}

#menu-card {
    border: .5px solid gray;
    border-radius: 5px;
}

p {
    font-size: medium;
}

h5 {
    font-size: larger;
    text-decoration: underline;
}

.custom {
    border: 2px solid red;
    padding: 1rem;
}

.custom-info {
    border: 2px solid blue;
}

footer {
    padding: 2rem 8rem ;
    color: white;
    background-color: #aaaaaa;
    align-items: center;
}

.links {
    margin: 0;
    width: 50%;
    float: left;
}

.links ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer-image {
    width: 50%;
    float: left;
}
.logo-footer{
    width: 8rem;
    height: 8rem;

}
h3 {
    color: white;
}


