@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Shippori Mincho', serif;
}

nav {
    padding: 1rem 6rem;
    display: flex; 
    background-color: #e9bfe3;
}
.logo{
    width: 5rem;
    height: 5rem;
}

ul { 
    margin: auto;
    text-align:right;
    width: 100%;
}

li {
    display:inline;
    font-size: medium;
    display: inline;
}

ul a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
ul a:hover {
    text-decoration: underline;
}
 b
.fa-cart-shopping {
    font-size: xx-large;
    color: #999999;
}

.home-img {    
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 80vh;
    background-image:url("images/second_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 40%;
    right: 4rem;
    color: black;
    background: transparent;
    background-color: white;
    border-radius: 10px;
    opacity: 65%;
    padding:30px;
    text-align: center;
}

h4 {
    font-size: 2.5rem;
}

p {
    line-height: 1rem;
}

.order {
    border-radius: 25px;
    text-align: center;
    padding: .75rem;
    background-color:gray; 
    border: none;
    color: white;
}

.popular-items {
    padding: 2rem;
}
h2 {
    text-align: center;
}
.cards {    
    display: flex;
    justify-content: space-around;
    padding: auto;
    flex-wrap: wrap;
}

.card {
    border: none;
    padding: 1rem;
}
.card-text {
    text-align: center;
}

